* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */
.nav-link {
    box-shadow: inset 0 0 0 0 #880c07 !important;
    color: #880c07 !important;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out !important;
    color: white !important;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
}

.nav-link:hover {
    box-shadow: inset 100px 0 0 0 #880c07 !important;
    color: white !important;
}

/* hero */
.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.750), rgba(0, 0, 0, 0.750)), url(../assets/img/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* lado izquierdo de hero*/

.hero-left {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* titulo */
.title {
    font-size: 3rem;
    font-weight: 700;
    position: relative;
    animation: heading;
    animation-duration: 3s;
}

@keyframes heading {
    0% {
        top: -100px;
    }

    100% {
        top: 0px;
    }
}

/* subtitulo */
.subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
    margin-top: .5rem;
    margin-bottom: .5rem;
    animation-name: text;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes text {
    0% {
        left: -100px;
    }

    100% {
        left: 0px;
    }
}

/* imagenes hero */

.hero-img {
    display: none;
    width: 25%;
    max-width: 100%;
    height: auto;
}



/* texto */
.text-primary {
    color: #ad130d !important;
}

/* boton */
.btn-danger,
.bg-primary {
    background-color: #880c07 !important;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #ad130d !important;
}

/* bordes */
.border-primary {
    border-color: #880c07 !important;
}


/* specialist */
.specialist-pic {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* checkbox */
.checkbox-danger:checked {
    color: #ad130d !important;
}

/* width svg doctora */
.w-doctora {
    width: 20%;
}

/* resize textarea */
.comment-box {
    resize: none;
}

/* media queries */
@media screen and (min-width: 576px) {
    .hero-img {
        display: block;
    }
}