* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    /* outline: 1px solid red !important; */
}


/* --------------- HEADER ----------------- */

/* header */
.header {
    background: linear-gradient(rgba(0, 0, 0, 0.750), rgba(0, 0, 0, 0.750)), url(../assets/img/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.header .navbar {
    /* padding-top: .5rem;
    padding-bottom: .75rem; */
    color: #fff;
    border-radius: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.600) !important;
}

.nav-link {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}

.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ad130d;
    transition: width 0.25s ease-out;
}

.nav-link:hover::before {
    width: 100%;
}

.header .hero {
    margin-top: 20px;
    text-align: left;
    height: 80%;
    display: flex;
    justify-content: center;
}

/* hero h1 */
.title {
    font-weight: 700;
    position: relative;
    animation: heading;
    animation-duration: 3s;
    padding-top: 1em;
    color: #f1f1f1;
}

@keyframes heading {
    0% {
        top: -100px;
    }

    100% {
        top: 0px;
    }
}

/* hero p */
.subtitle {
    font-weight: 400;
    position: relative;
    margin: .5rem 0 .5rem 0;
    animation-name: text;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes text {
    0% {
        left: -100px;
    }

    100% {
        left: 0px;
    }
}

/* imagenes hero */

.hero-img {
    display: none;
    width: 25%;
    max-width: 100%;
    height: auto;
}

/* --------------- MAIN ----------------- */

/* specialist */
.specialist {
    display: grid;
    gap: 4em;
    grid-template-columns: 1fr;
    justify-content: center;
}


.specialist-pic {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* sombra de cards */
.card {
    background-color: #f1f1f1 !important;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.473);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.473);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.473);
    border-radius: 2em;
}

/* width svg doctora */
.w-doctora {
    width: 20%;
}

/* resize textarea */
.comment-box {
    resize: none;
}

/* --------------- FOOTER ----------------- */
.footer {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32
}

.footer .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: .3;
    font-size: 13px;
    margin-bottom: 0
}

/* ------------ EFECTOS VISUALES -------------- */

/* texto */
.text-primary {
    color: #ad130d !important;
}

/* boton */
.btn-danger,
.bg-primary {
    background-color: #880c07 !important;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #ad130d !important;
}

/* bordes */
.border-primary {
    border-color: #880c07 !important;
}


/* --------------- MEDIA QUERIES ----------------- */
@media screen and (min-width: 576px) {
    .specialist {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 995px) {
    .hero-img {
        display: block;
    }

}


@media screen and (min-width: 1000px) {

    .specialist {
        grid-template-columns: repeat(4, 1fr);
    }

    .card {
        width: 100%;
    }


}