<!doctype html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="In this view the user can complete the form to register on our platform">
    <meta name="keywords"
        content="HTML, CSS, JS, Bootstrap, SASS, SCSS, Andres Briceño, Coderhouse Clinic, Coderhouse, Health, Web Developer, Website, responsive, mobile, Frontend, register, form, sign up">

    <!-- FAVICON -->
    <link type="image/png" sizes="76x76" rel="icon" href="../assets/img/logo-mobile-new.png">

    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

    <!-- Custom Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Title -->
    <title>Register | Coderhouse Clinic</title>
</head>

<body>
    <header class="header">
        <nav
            class="navbar navbar-dark navbar-expand-md d-flex justify-content-between justify-content-xl-between align-items-xl-center navigation-clean-search fixed-top">
            <div class="container">
                <a class="navbar-brand" href="../index.html"><img src="../assets/img/logo1.svg" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse d-lg-flex d-xl-flex justify-content-end justify-content-lg-end justify-content-xl-end align-items-xl-center"
                    id="navmenu">
                    <ul class="navbar-nav align-items-center">

                        <ul class="nav navbar-nav mx-1">
                            <li class="nav-item" role="presentation"><a class="nav-link active"
                                    href="awards.html">Awards</a></li>
                        </ul>
                        <ul class="nav navbar-nav mx-1">
                            <li class="nav-item" role="presentation"><a class="nav-link active"
                                    href="contact.html">Contact</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav mx-1">
                            <li class="nav-item" role="presentation"><a class="nav-link active"
                                    href="login.html">Login</a>
                            </li>
                        </ul>
                        <div class="container-fluid">
                            <div class="row mt-3 mt-md-0 ms-md-1">
                                <a class="btn btn-primary action-button" role="button" href="register.html">Sign Up</a>

                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- end of header -->

    <!-- main -->
    <main>
        <div class="hero">
            <div class="container">
                <div class="row justify-content-center align-items-center align-content-center text-light py-5">
                    <!-- titulo -->
                    <div class="col-12 col-lg-6 col-xl-5">
                        <h1 class="title display-2 lead text-center"> <span class="text-primary">
                                Sign Up</span>
                        </h1>
                        <p class="subtitle lead text-center">Complete the form to register on our platform.
                        </p>
                    </div>

                    <!-- card -->
                    <div class="card-form">
                        <form method="post" action="#" class="text-gray-dark-6 bg-white">
                            <div class="form-group mb-3">
                                <input class="form-control" type="text" name="name" placeholder="Name">
                            </div>
                            <div class="form-group mb-3">
                                <input class="form-control" type="text" name="last-name" placeholder="Last name">
                            </div>
                            <div class="form-group mb-3">
                                <input class="form-control" type="email" name="email" placeholder="Email">
                            </div>
                            <div class="form-group mb-3">
                                <input class="form-control" type="password" name="password" placeholder="Password">
                            </div>
                            <div class="form-group mb-3">
                                <input type="checkbox" name="terms" id="terms" class="form-check-input checkbox-danger">
                                <label for="terms" class="form-check-label ms-2">I accept terms and
                                    conditions</label>
                            </div>
                            <div class="form-group mb-3 d-grid">
                                <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
                            </div>

                            <div class="my-3">
                                <span>Remember that your password must have at
                                    least 1
                                    capital letter and 1
                                    symbol</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- end of main -->

    <!-- footer -->
    <div class="d-flex justify-content-center footer bg-gray-dark-9 text-gray-dark-2">
        <footer>
            <div class="container d-xl-flex justify-content-xl-center align-items-xl-center">
                <p
                    class="d-xl-flex justify-content-center align-items-center align-content-center justify-content-xl-center align-items-xl-center copyright">
                    Copyright &copy; 2022 Andrés Briceño. All Rights Reserved.</p>
            </div>
        </footer>
    </div>
    <!-- end of footer -->


    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>