<!doctype html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FAVICON -->
    <link type="image/png" sizes="76x76" rel="icon" href="../assets/img/logo-mobile-new.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Title -->
    <title>Coderhouse Clinic</title>
</head>

<body>
    <header>
        <!-- NAV -->
        <nav class="navbar navbar-expand-md  bg-dark fixed-top z-99 navbar-dark py-3">
            <div class="container">
                <a href="../index.html" class="navbar-brand"><img src="../assets/img/logo.png" alt="logo"></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="about.html" class="nav-link md:ml-1  fs-5 text-white text-hover">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="awards.html" class="nav-link md:ml-1  fs-5 text-white text-hover">Awards</a>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link md:ml-1  fs-5 text-white text-hover">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="login.html"
                                class="border-bottom border-2 border-primary  nav-link md:ml-1 fs-5 text-white text-hover active">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- END NAV -->

    <!-- MAIN -->
    <main>
        <!-- HERO -->
        <section class="hero bg-dark text-light p-5 vh-100 text-center text-sm-start">
            <div class="container d-flex align-items-center justify-content-around">
                <div class="d-sm-flex align-items-center">


                    <div>
                        <h1 class="display-1 fw-bolder text-primary">Register</h1>
                        <p class="lead my-4">
                            Complete the form to register on our platform.
                        </p>
                        <img class="img-fluid w-25 d-none d-sm-block" src="../assets/img/oximetro.svg" alt="oximetro">
                    </div>

                    <div class="w-auto">
                        <form action="#" method="#">
                            <div class="form-group mb-2">
                                <label for="name" class="form-label">Name</label>
                                <input type="name" class="form-control" id="name" placeholder="Enter your name">
                            </div>
                            <div class="form-group mb-2">
                                <label for="last-name" class="form-label">Last Name</label>
                                <input type="last-name" class="form-control" id="last-name"
                                    placeholder="Enter your last name">
                            </div>
                            <div class="form-group mb-2">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                            <div class="form-group mb-2">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password">
                            </div>

                            <div class="form-group mb-2">
                                <input type="checkbox" name="remember" id="remember"
                                    class="form-check-input checkbox-danger">
                                <label for="remember" class="form-check-label ms-2">I accept terms and
                                    conditions</label>
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-danger border-primary">Register</button>
                            </div>

                            <div class="my-3">
                                <span class="text-decoration-underline">Remember that your password must have at least 1
                                    capital letter and 1
                                    symbol</span>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </section>
    </main>
    <!-- END MAIN -->

    <!-- FOOTER -->
    <footer class="p-5 bg-dark text-white text-center position-relative">
        <div class="container">
            <div class="lead">Copyright &copy; 2022 Coderhouse Clinic. All Rights Reserved.</div>

            <a href="#" class="position-absolute bottom-0 end-0 p-5">
                <i class="bi bi-arrow-up-circle h1 text-danger"></i>
            </a>
        </div>
    </footer>
    <!-- END FOOTER -->

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>