.btn {
    @include btn;
}

@each $key,
$val in $colors {
    .btn-#{$key} {
        @include btn($val);

        &:hover {
            background-color: lighten($val, 5);
        }
    }

    .btn-outlined-#{$key} {
        @include btn(#fff);
        border: $base-border-thickness solid $val;

        &:hover {
            background-color: $val;
        }
    }
}

// .radio-primary [type="radio"]:checked+label:after {
//     border-color: $primary;
//     background-color: $primary;
// }