@mixin flexCenter($flex-direction: row) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: center;
    align-items: center;
}

@mixin btn($bg-color: #e2e2e2) {
    text-decoration: none;
    cursor: pointer;
    border: 0;
    background-color: $bg-color;
}